pinecone>=4.1.0
torch
torchvision
torchaudio
transformers[sentencepiece]
accelerate>=0.30.0
peft>=0.11.0
sentence-transformers
gradio>=4.36.0
numpy
huggingface-hub
opencv-python
fastapi
uvicorn
requests
espnet
numba
librosa
soundfile
google-generativeai